<% provide(:title, 'About') %>
<h1>About</h1>
<center>
<h2>
 Founded by Umass CMPSCI320 SE AutoAdvisor Team 2013
<h2>
<ul>
  <li>Kyle Hughes<li>
  <li>Wei Lin<li>
  <li>David Wemhoener<li>
  <li>Duane Bailey<li>
  <li>Dan Stubbs<li>
  <li>Nicholas Conlon<li>
  <li>Peng Gao<li>
  <li>Hui CHen<li>
  <li>Ki Yung Chan<li>
</ul>
</center>

