<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>AutoAdvisor Course Selection Aid</h1>

  <h2>
    Software solution to Umass Spire Course Selection Environment
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
