<div class='main'>
<h2>What's new</h2>
<br />
<h3>v0.5beta</h3>
<h4>4/2/2013</h4>
<ul>
  <li>Registration/Sign Up</li>
  <li>Account Log In</li>
  <li>Upload/Parse Unofficial Transcript</li>
  <li>Class Options/Recommendations</li>
  <li>Browse/Filter Courses</li>
  <li>Personal Profile</li>
</ul>
</div>
