<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Auto Advisor</title>
	<link rel="stylesheet" href="css/main.css">
	<header id="main_header">
		<div id="logo_alignright"><h1>auto advisor</h1> </div>
	<header>	
</head>

<body>
	<div id="main_wrapper">
		<aside id="left_side">
		</aside>
		<section id="right_side">
		</section>
	</div>
		<footer id="main_footer">
			COPY RIGHT Auto Advisor 2013
		</footer>	
<body>


	
</html>