<table>
  <tr>
    <td>Name</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Major</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Course Taken</td>
    <td><a href='#'>See course taken</a></td>
  </tr>
  <tr>
    <td>Credit Earned</td>
    <td>.../120</td>
  </tr>
  <tr>
    <td>Link State</td>
    <td>Spire: Linked with netid <a href='#'>...</a></td>
  </tr>
</table>
