<table id='profile'>
  <tr valign=top>
    <td>
      <litem>Name</litem>
    </td><td>
      <p class='ritem'><%= @email %></p>
    </td>
  </tr><tr valign=top>
    <td>
      <litem>Major</litem>
    </td><td>
      <p class='ritem'>
        <% @majors.each do |major| %>
          <%= major.degree %> <%= major.name %><br/>
        <% end %>
      </p>
    </td>
  </tr><tr valign=top>
    <td>
      <litem>Course Taken</litem>
    </td><td>
      <p class='ritem'>
        <% @courses.each do |course| %>
          <%= course.class_string %> <br />
        <% end %>
</p>
</td>
</tr>
<tr valign=top>
<td>
<litem>Credit Earned</litem>
</td><td>
<p class='ritem'>...</p>
</td></tr>
<tr valign=top><td>
<litem>Link State</litem>
</td><td>
<p class='ritem'>Spire: Linked with netid <a href='#'>...</a></p>
</profileitem>
</td>
</tr>
</table>
