<div>
   <form method="get" action="transcript">
	<p>Choose a transcript to upload:</p><br>
	<input type="file" name="fileField" size="30"><br>
	<input type="submit" name="submit" value="submit">
   </form>
</div>
<p>OR<br>Add classes manually:</p>
<div>
   <form method="get" action="transcript" >
	Course Name: <input type="text" name="courseName" size="30"> (eg. Math)<br>
	Course Number: <input type="text" name="courseNumber" size="3"> (eg. 131)<br>
	Grade: <input type="text" name="grade" size="2">(eg. A-)<br>
	<input type="submit" name="maunualSubmit" value="submit">
   </form>
</div>
<p>Your current transcript:<br>
...a list of already taken courses plus the ones just added
</p>
