table#profile {
  margin: auto;
}

litem {
  float: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

p.ritem {
  padding-left: 50px;
  padding-bottom: 10px;
}

table.transcript {
  width: 600px;
  margin: auto;
  border-style: solid;
}

.head {
  background: #CDCDCD;
}

.subhead {
  background: #DEDEDE;
}

tr.item:hover {
  background: #EFEFEF;
}

td.manual_button {
  border-style: solid;
}

td.manual_button:hover {
  background: #EEEEEE;
}

td.manual_button:active {
  background: #777777;
}



